.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Information{
  background-color: rgb(121, 86, 121);
  color: white;
  padding: 10px;
  text-align: center;
}
.data{
margin-left: 300px;
  display: flex;
  width: 50%;
  padding: 5px;
  justify-content: space-between;
}
.upperData{
  /* margin-top: 100px; */
  margin-left: 300px;
  display: flex;
  width: 50%;
  padding: 5px;
  justify-content: space-between;

}
.btn{
  /* margin-top: 50px; */
  background-color: rgb(121, 86, 121);
  padding: 10px;
  color: white;
  cursor: pointer;
  
}
